@import 'https://pro.fontawesome.com/releases/v5.15.4/css/all.css';
@import 'https://static.fontawesome.com/css/fontawesome-app.css';

@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap");

#app,
.swal2-container {
  --tblr-font-sans-serif: Sarabun, sans-serif !important;
  font-family: Sarabun, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  font-size: 17px;
}

.dropdown-menu.show {
  display: block !important;
}